#!bin/bash
name=carnofluxe.fr-$(date +%Y-%m-%d).tar.gz

tar cfz "$name" /var/www/carnofluxe.fr/

ssh 192.168.10.6 mkdir backup
count_sav=$(ssh 192.168.10.6 ls ~/backup/ | wc -l)
scp -qo StrictHostKeyChecking=no "$name" 192.168.10.6:~/backup/
echo $count_sav
max_file=8;
while [ $count_sav -gt $max_file ];
do
count_sav=$(ssh 192.168.10.6 ls ~/backup/ | wc -l)

namefile=$(ssh 192.168.10.6 ls -1 ~/backup/ | head -1)
echo $namefile
ssh 192.168.10.6 rm -f ~/backup/"$namefile"
done
