# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default.conf

Listen {{ listened_port_default }}

{% for website in websites %}
<VirtualHost {{ website.ip_intranet }} {{ website.ip_internet }}>
    DocumentRoot /var/www/{{ website.name_server }}
    ServerName {{ website.name_server }}
    ServerAlias {{ website.name_local }}
</VirtualHost>
{% endfor %}

<IfModule ssl_module>
        Listen {{ listened_port_ssl }}
</IfModule>

<IfModule mod_gnutls.c>
        Listen {{ listened_port_gnutls }}
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet