# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default.conf

Listen {{ listened_port_default }}

<IfModule ssl_module>
        Listen {{ listened_port_ssl }}}
</IfModule>

<IfModule mod_gnutls.c>
        Listen {{ listened_port_gnutls }}
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet